body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color:  #4863A0;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #4863A0;
}

.carousel-item img {
    height: 500px;
    width: 100vw;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #c9e2ec;
}

.section-title {
    font-family: Bebas Neue, sans-serif;
}

#sobre-a-academia,
#nossa_loja {
    background-color: #c9e2ec;
}

.text-colored {
    color: #4863A0;
}

.nav-loja .nav-link.active,
#fale-conosco button {
    background-color: #4863A0;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #4863A0;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}



@media (max-width: 767px){
    .carousel-item img {
        height: 280px;
    }

    

}